[2019-06-22 11:38] zerodogg opened #2 "Feature request: add pdf.js"

[2019-06-23 09:21] zerodogg opened #3 "Opening a URL in an existing qutebrowser instance doesn't work"
Whenever I click a link in another application it will open a new instance of qutebrowser instead of opening the URL in the existing instance of qutebrowser.

It's easily reproducable with:

    $ ~/.local/share/flatpak/exports/bin/org.qutebrowser.qutebrowser &
    $ ~/.local/share/flatpak/exports/bin/org.qutebrowser.qutebrowser http://qutebrowser.org

This opens two seperate instances of qutebrow

[2019-07-01 07:17] ykgmfq opened #5 "Youtube video player not working"
The Youtube video player crashes with an unknown error. All videos from https://tekeye.uk/html/html5-video-test-page work though, as well as http://dash-mse-test.appspot.com/dash-player.html.

This is a bug in the web engine shipped with the platform, as https://github.com/KDE/flatpak-kde-applications/blob/master/org.kde.falkon.json is also affected.

I vaguely remember this problem cropping up af

[2020-07-09 01:37] tidux opened #8 "Package eight months out of date"
update please

[2020-07-09 08:47] The-Compiler commented on #8
FWIW it looks like CVE-2020-11054 (a low-severity security issue in qutebrowser) isn't fixed in this package either: [Reloading page with certificate errors shows a green URL · Advisory · qutebrowser/qutebrowser](https://github.com/qutebrowser/qutebrowser/security/advisories/GHSA-4rcq-jv2f-898j)

[2020-09-26 22:46] tidux commented on #8
The package is now fourteen months out of date.  This is completely inexcusable for a web browser.  Update the package or remove it from flathub.

[2020-10-13 10:01] erazemkokot commented on #8
@ykgmfq @torsava Sorry to have to tag you here, but I'm guessing a lot of flatpak users use qutebrowser so having it this outdated it quite bad. ysiraichi has made a pull request which builds, so besides taking a quick look at his commits and confirming them I don't think this would take a lot of time. I don't want to rush you but since browsers are such a major and powerful part of the OS, it's q

[2020-10-13 20:06] tidux commented on #8
@The-Compiler could you fork this and make flatpak an official distribution channel for Qutebrowser?  Calling a dependency on org.freedesktop.Platform.ffmpeg would solve the patented codecs problem a lot of prebuilt Qutebowser options have.

[2020-10-13 20:41] The-Compiler commented on #8
No, sorry. I don't have the capacity to maintain packages in ecosystems I've never really used myself (I already do that with macOS, barely). If someone steps up as a maintainer I'll happily adjust the install instructions, though.

[2020-10-14 08:28] erazemkokot commented on #8
@torsava How would forking work? Don't the packages need to be accepted by the Flathub team anyway in which case can't they give someone else permission to accept pull requests and such?

[2020-10-14 09:16] torsava commented on #8
@erazemkokot I can't speak for the Flathub team, but I think they must have some non-responsive maintainer policy. If you fork it, make it work, and show that the maintainer here has not responded in a long time, they might transfer you the ownership, or work with you in some manner. That's how it usually works in other projects.

[2021-03-04 22:39] tidux commented on #8
Can we get a Flathub admin to forcibly fix the ownership problem of this repo?  This is ridiculous.

[2021-03-04 23:11] erazemk commented on #8
Try mailing admins@flathub.org and ask them to remove qutebrowser from flathub until the flatpak is updated.

[2021-03-12 15:25] The-Compiler commented on #8
FYI, I've now contacted them:

---

Hi,

I'm the upstream of qutebrowser: https://www.qutebrowser.org/

The org.qutebrowser.qutebrowser Flatpak is based on the v1.7.0 release
from July 2019:
https://github.com/flathub/org.qutebrowser.qutebrowser/issues/8

Pull requests updating qutebrowser have never been merged:
https://github.com/flathub/org.qutebrowser.qutebrowser/pulls

There were 19 newer rel

[2021-03-12 15:47] bilelmoussaoui commented on #8
You can End-Of-Life the application by following the guidelines on the wiki https://github.com/flathub/flathub/wiki/App-Maintenance#end-of-life. Is there anything else we can help with?

[2021-03-12 16:11] ramcq commented on #8
Hi @The-Compiler - it seems like you already have access to merge the PR, and/or to push the EOL metadata that @bilelmoussaoui suggests. Whilst the EOL to some extent hides the app and discourages new downloads, it doesn't necessarily prevent existing users from continuing to access the app on their system, so if some of the contributors on this thread can confirm it seems to work, merging the PR

[2021-03-12 16:33] The-Compiler commented on #8
Thanks for the quick answer! Oh, I didn't realize I had access to this repository myself. :blush: To be honest I have no idea why.

However, I've never used Flatpak, so I don't feel comfortable with taking things into my own hands. Perhaps someone here or @ykgmfq @wkugh @ysiraichi @tinywrkb would be interested in taking over?

I'm apparently not able to change repository settings, but I assume if

[2021-03-13 19:58] tinywrkb commented on #8
@The-Compiler I don't use qutebrowser but I looked into maintaining it as it's a pretty neat project but to tell you the truth, every update feels like going down the rabbit hole.

I sent a PR to update qutebrowser #10 but I would really to have another maintainer helping.
I don't feel comfortable having to deal with SIP and packaging PyQt.
And It would much help if Flathub would ease a bit the of

[2021-03-14 10:51] tinywrkb commented on #8
There's a [test build here with the recent release](https://github.com/flathub/org.qutebrowser.qutebrowser/pull/10#issuecomment-798777525), it would be nice if a user can test that everything is working as it should.
It looks alright here but I'm usually don't use the app.

[2021-03-14 13:00] akhilman commented on #8
Works fine here.

Tip for users - to install dictionaries:
[code]

[2021-03-14 15:11] tinywrkb commented on #8
@akhilman thanks for testing. I pushed another commit adding adblock support by reusing the binary release of python-adblock.
ATM the CI doesn't build this as it seems like Flathub has reached the Github API requests limit so if you want to test this feature you gonna need to build it yourself. I'll try forcing a rebuild later.

[2021-03-14 18:17] tinywrkb commented on #8
Test build with the python-adblock module, though currently adblock is enabled only x86_64 as this uses the binary release.

[2021-03-15 15:09] akhilman commented on #8
Adblock works well. Thank you for the package.

[2021-03-15 16:29] tinywrkb commented on #8
@akhilman thanks for the feedback.

[2021-03-15 16:57] ramcq commented on #8
@The-Compiler Would you like a Flathub person to review @tinywrkb's PR, or would you consider giving them access to the repo? It would be good to work out if you or someone from the Qutebrowser upstream can stay in the loop on the updates.

[2021-03-15 17:17] #8 closed

[2021-03-15 17:57] The-Compiler commented on #8
Thanks everyone (and especially @tinywrkb!) for getting things updated!

I'd happily give @tinywrkb access to the repository!

I'm afraid I don't have any personal interest in Flatpak (for qutebrowser users, a [simpler alternative](https://github.com/qutebrowser/qutebrowser/blob/master/doc/install.asciidoc#tox) achieving roughly the same goal is available), and I don't have the capacity to take ca

[2021-03-17 07:32] akhilman opened #11 "Terminating render process for bad Mojo message"
I have a issue with org.qutebrowser.qutebrowser 2.1.0 from flathub.

When I try to open this site https://www.tradingview.com/pine-script-reference/v4/ qutebrowser shows  error `Renderer process was killed (status 3)` and shows this message to console:
[code]

This url works just fine in manjaro's qutebrowser v2.0.2 package.

[2021-03-17 10:40] The-Compiler commented on #11
FWIW this is essentially a bug in QtWebEngine 5.15.2, but qutebrowser has a workaround for it: https://github.com/qutebrowser/qutebrowser/issues/6032

It might be an issue in qutebrowser's version detection (getting QtWebEngine's real version is more tricky than you'd think...) causing this. Can you reproduce this with `--temp-basedir` as well?

If you do `:messages debug` after starting qutebrows

[2021-03-17 13:00] akhilman commented on #11
Yes. It fails with --temp-basedir as well.

On Wed, 2021-03-17 at 03:41
-0700, Florian Bruhin wrote:

[2021-03-17 13:33] The-Compiler commented on #11
Not much more I can say without knowing the answer to the other two questions I asked.

[2021-03-17 13:48] akhilman commented on #11
I apologize for my distraction.

Qt arguments: ['--enable-features=WebRTCPipeWireCapturer,OverlayScrollbar,ReducedReferrerGranularity']

version:
[code]

And here messages when I try to open that page:
[code]

[2021-03-17 14:38] The-Compiler commented on #11
That confirms my suspicion: The Flatpak is based on QtWebEngine 5.15.2 (i.e. it needs the workaround), but it's not getting applied (no `--disable-features=InstalledApp` in the Qt arguments).

Could you please run `qutebrowser --temp-basedir --version --debug-flag avoid-chromium-init --debug` (or whatever the equivalent of launching something with commandline arguments for Flatpaks is) and show th

[2021-03-17 14:50] The-Compiler commented on #11
Nevermind - I got Flatpak to run on my system and can reproduce. I'll take a look.

[2021-03-17 15:10] The-Compiler commented on #11
Okay, here is what's happening:

- Since there's no way to ask QtWebEngine for its version (and it doesn't necessarily need to be the same as the Qt version), qutebrowser has a hack to [parse the version from the ELF file](https://github.com/qutebrowser/qutebrowser/blob/master/qutebrowser/misc/elf.py)
- That uses `QLibraryInfo.location(QLibraryInfo.LibrariesPath)` to get the path where Qt is insta

[2021-03-17 18:52] tinywrkb commented on #11
@The-Compiler thank you for the quick fix, it solves the issue on my system. I'll handle the update for the package.

[2021-03-17 19:03] #11 closed

[2021-03-17 21:08] tinywrkb commented on #5
Since this issue was opened we bump the runtime and app versions.
I can't reproduce this, YouTube works fine for me.
So I'm closing this.

If your system still being affected by this after updating the app then please re-open.

[2021-03-17 21:08] #5 closed

[2021-03-18 10:58] #3 closed

[2021-03-18 14:34] tinywrkb opened #18 "enable tests"
Running the test might help to catch up packaging or Flatpak specific issues before distributed the built app.

I've done some initial crude work to try and get the tests running, directly executing pytest in order to try and avoid the multiple pyenv set by tox for Python version we don't care about.
We don't have networking during build time which is another reason why we want to avoid the defaul

[2021-03-18 15:54] tinywrkb commented on #18
Closing as the tests depend on a display that I don't believe is available during the build process.

[2021-03-18 17:41] The-Compiler commented on #18
If you have [pytest-xvfb](https://github.com/The-Compiler/pytest-xvfb/) (and Xvfb itself) installed, there's no display needed. As for the issues above, setting `PYTHONPATH=.` should help.

[2021-03-18 18:21] tinywrkb commented on #18
Thanks, it looks like I'm advancing a little forward now that I have pytest-xvfb installed.
I'm still probably missing other modules as I encountered more errors but the main blocker might be the networking requirement.
I'll look at this again at a later date, the current failed tests are probably my fault.

p.s. I forgot to mention that the tests packaging update is in my WIP [tests branch](https

[2021-03-18 18:32] The-Compiler commented on #18
In theory, the tests should work without network (other than the HTTP server on localhost running as part of the tests). Can I find the logs somewhere?

[2021-03-18 18:55] tinywrkb commented on #18
Here's the build log without networking enabled: [qutebrowser_tests.log](https://github.com/flathub/org.qutebrowser.qutebrowser/files/6166599/qutebrowser_tests.log)

[2021-03-19 10:48] The-Compiler commented on #18
Relevant parts:

---

[code]

That looks like even networking on localhost doesn't work. Can you try adding an early "return 1234" in that function and see if that makes those tests work? If it's just the resolution of the "localhost" name, I guess there's a way around it.

Maybe also try `'127.0.0.1'` in place of `'localhost'` there?

---

[code]

Looks like QtWebEngine called `abort()` while ini

[2021-03-19 13:20] tinywrkb commented on #18
Thanks! switching to an IP address resolved the networking requirement.

I'm not sure if the following is the only issue but it seems to affect multiple tests.
[code]

I'm uploading a partial log as the full one is a bit large.
[qutebrowser_tests_20210319_1500.log](https://github.com/flathub/org.qutebrowser.qutebrowser/files/6171328/qutebrowser_tests_20210319_1500.log)

[2021-03-20 17:38] tinywrkb opened #19 "Netlink socket bind error when starting qutebrowser with flatpak run"
**edit: This seems to be a generic issue with Chromium-based browsers**

When starting the app from the command-line like this
[code]
or
[code]
I'm getting the following error message
[code]

Here's the relevant strace output
[code]
Full strace output: [strace_flatpak_run_exec.log](https://github.com/flathub/org.qutebrowser.qutebrowser/files/6176075/strace_flatpak_run_exec.log)

But if I start qut

[2021-03-20 19:56] danieldg commented on #19
from man 7 netlink: "If the application sets nl_pid before calling bind(2), then it is up to the application to make sure that nl_pid is unique."  At a guess, 2 is not unique but 6 is.  This likely needs to be changed in chromium; using 0 for nl_pid (requesting the kernel assign it) would suffice.

[2021-03-21 12:45] tinywrkb commented on #19
If this doesn't have ill effects then we can close this issue.

[2021-03-23 21:47] The-Compiler commented on #18
Well, turns out enabling tests was already worth it, because there was a bug in https://github.com/qutebrowser/qutebrowser/commit/9f67a763ef86805f0981f037ccd2fb5cb0e84b88 after all... You can reproduce manually by starting with `--temp-basedir`.

Here's the fix: https://github.com/qutebrowser/qutebrowser/commit/2f8fbff53a34adfbf4fe3e295de795fd4135ddcb

I forgot to split the tests from the commit,

[2021-03-24 16:54] tinywrkb commented on #18
The QtWebkit backend tests fail.

[code]

Log: [qutebrowser_20210324_1507.log](https://github.com/flathub/org.qutebrowser.qutebrowser/files/6199038/qutebrowser_20210324_1507.log)

Using `--qute-bdd-webengine` makes this error disappear but I'm not sure that it's the correct way to disable webkit.
[code]
Log: [qutebrowser_20210324_1844.log](https://github.com/flathub/org.qutebrowser.qutebrowser/fil

[2021-03-24 19:08] The-Compiler commented on #18
Yep, `--qute-bdd-webengine` is recommended - the only reason it's not the default is that tests with QtWebKit (if available) are a bit faster.

It now seems to fail with "Could not find QtWebEngineProcess" from Qt. Are you setting `QTWEBENGINEPROCESS_PATH=/app/bin/QtWebEngineProcess` ([like here](https://github.com/flathub/org.qutebrowser.qutebrowser/blob/master/org.qutebrowser.qutebrowser.yml#L13

[2021-03-24 19:39] tinywrkb commented on #18
Right, that's my fault.
I'm still running the tests and I'm seeing lots of errors but only 9 tests are failing except the locale tests.
I'll try later to see if it's my fault that those tests are failing.

Here's the full log: [qutebrowser_20210324_2115.log.tar.gz](https://github.com/flathub/org.qutebrowser.qutebrowser/files/6200041/qutebrowser_20210324_2115.log.tar.gz)

[2021-03-24 20:29] The-Compiler commented on #18
I think there are some more failing:

So something like 42 failing/erroring tests excluding the locale ones. We're getting there! :sweat_smile:

Could you show a log without the `-v -s --no-qt-log` arguments? Those are only useful when debugging aborts/segfaults - now that those apparently aren't happening anymore, leaving them off should make everything a bit more digestable.

I haven't looked at

[2021-03-24 21:03] tinywrkb commented on #18
Updated build log with https://github.com/qutebrowser/qutebrowser/commit/9303e6a85489775f63b5d15b7bbd3173f74764d9 pulled in.

[qutebrowser_20210324_2236.log](https://github.com/flathub/org.qutebrowser.qutebrowser/files/6200429/qutebrowser_20210324_2236.log)

I haven't really looked at it but one thing I did notice is that one of the adblock tests is trying to fetch easylist so maybe it can use a p

[2021-03-29 22:16] tidux opened #21 "flatpak run fails"
[code]

[2021-03-29 23:05] tinywrkb commented on #21
Which version of Flatpak are you running?

[2021-03-29 23:18] tidux commented on #21
Flatpak 1.0.9, Ubuntu 18.04.

[2021-03-30 10:49] tinywrkb commented on #21
Does this happen on with a clean profile? can you remove/move `~.var/app/org.qutebrowser.qutebrowser` and test?
Is this x86_64 or aarch64?

Can you try starting the app manually from inside the sandbox like the example and also post the output:
[code]

Can you upload a verbose log? as a file upload please not as a text post.
[code]

Can you try please the test build from #22? you should run it lik

[2021-03-30 11:02] The-Compiler commented on #18
I was busy with [something else](https://github.com/qutebrowser/qutebrowser/pull/5457#issuecomment-808799076) over the last couple of days, looking into this now.

I got the tests to run locally with `flatpak-builder --force-clean --ccache builddir org.qutebrowser.qutebrowser.yml`, though I do seem have a different situation with network connections during the tests? It can't connect to the intern

[2021-03-30 11:31] tinywrkb commented on #18
Unless specifically enabled like the following, flatpak-builder (wrapping `flatpak build` calls) is running the build process in a sandbox with a different network namespace than the host which is what I mean by no networking.
So you don't need to do anything.
[code]
You can diff `org.qutebrowser.qutebrowser.yml` from my [tests branch](https://github.com/tinywrkb/org.qutebrowser.qutebrowser/tree/t

[2021-03-30 16:52] The-Compiler commented on #18
I'm running on the `tests` branch but with `0006-tests-avoid-loopback-name-resolution.patch` commented out, but I don't get the `socket.bind` issue from https://github.com/flathub/org.qutebrowser.qutebrowser/issues/18#issuecomment-802734451 at all.

[2021-03-30 17:12] tinywrkb commented on #18
This is what I'm seeing on my system.
[code]

[2021-03-30 18:44] tidux commented on #21
This is amd64/x86_64.  Issue persists with a clean profile.

[code]
Debug log is short enough to paste here as well.

[code]

[2021-03-30 19:59] The-Compiler commented on #21
As a quick&dirty fix, this should work:

[code]

I'll look into parsing `/.flatpak-info` if `FLATPAK_ID` is unavailable tomorrow or so, off to bed now.

[2021-03-30 20:05] The-Compiler commented on #18
FWIW I've made some progress with the tests, and with

[code]

I only get two failing tests remaining. Will look at those tomorrow (hopefully), and then backport everything to v2.1.x and probably release a v2.1.1 soon.

[2021-03-30 21:09] tinywrkb commented on #21
@tidux can you test the latest test build from #22

[2021-03-30 22:06] tidux commented on #21
This mostly works, but H.264 videos are broken.  I think the package needs a dependency on `org.freedesktop.Platform.ffmpeg-full` for full functionality.  Based on my experience on other platforms, Qutebrowser *should* pick up ffmpeg if it's available to the dynamic linker.

[2021-03-30 22:10] tinywrkb opened #24 "h264 playback stutters"

[2021-03-30 22:14] #21 closed

[2021-03-30 22:16] tidux commented on #24
It's not actually H.264, it's falling back to other codecs.  It looks stuttery on YouTube because the adaptive bitrate/codec playback is breaking.  Launch with `flatpak run`, go to https://lab.html5test.com/codecs/ , and see that H.264 isn't supported, while on stderr you see the application looking for ffmpeg.

[2021-03-30 22:20] tinywrkb commented on #21
@tidux thanks for the feedback. I merged the Flatpak_ID fix with #21.

I can replicate the H.264 playback issue. I will do the same as Mozilla and make it an optional dependency and add some notes about it somewhere, maybe in the wiki and Flathub page. You can follow in #24.

[2021-03-30 23:22] tinywrkb commented on #18
The CI is building the tests in #23.
Here the x86_64 build log: https://flathub.org/builds/#/builders/19/builds/5108

[2021-03-30 23:40] tinywrkb commented on #24
I added the extension and it working as expected on my system.
The changes are already merged so you should get an update soon via Flathub.
You can also install the test build.

I'm keeping this issue open for now, let me know if something is still broken.

[2021-03-31 00:51] tidux commented on #24
Yup, test works on http://www.html5videoplayer.net/html5video/mp4-h-264-video-test/ .  Thanks!  Feel free to close when published to flathub.

[2021-03-31 01:01] tinywrkb commented on #21
p.s. thanks @The-Compiler!

[2021-03-31 01:02] tinywrkb commented on #24
@tidux thanks for the feedback.

[2021-03-31 10:00] The-Compiler opened #26 "No C extensions for PyYAML"
Looks like PyYAML doesn't build C extensions:

[code]

this causes qutebrowser to fall back on its pure-Python implementation, but that can slow down startup significantly - I even got this (on a modern machine):

[code]

See the [PyYAML readme](https://github.com/yaml/pyyaml/blob/master/README) for details about this.

[2021-03-31 13:01] tinywrkb commented on #26
Adding libyaml seems to solve this.

[2021-03-31 13:10] #26 closed

[2021-03-31 13:20] tinywrkb commented on #21
I tested in a Xubuntu 18.04 VM and it is working as expected.
Maybe @tidux want also to confirm? after installing the test build just run `flatpak run --user org.qutebrowser.qutebrowser//test`.

I had to manually apply the patch and at this point, I would really prefer to drop the patches and check-out v2.1.x branch.

[2021-03-31 13:22] tinywrkb commented on #24
It's now in Flathub, closing.

[2021-03-31 13:22] #24 closed

[2021-03-31 13:26] tinywrkb commented on #19
This is an upstream bug.

[2021-03-31 13:26] #19 closed

[2021-03-31 13:51] The-Compiler commented on #18
The current v2.1.x branch fixes those tests as well. I'm planning to release v2.1.1 later today or tomorrow.

As for the aarch64 tests, I'll investigate those once I have access to some hardware to run qutebrowser on (ran into GLX issues when trying on Amazon AWS): https://github.com/qutebrowser/qutebrowser/issues/6347

[2021-03-31 16:11] tidux commented on #21
Yep, latest test patch works.  Will be very nice to get this all mainlined.

[2021-03-31 16:33] tinywrkb commented on #21
@tidux thanks again for testing. We would be able to drop all the Flatpak related patches in the next stable release.

[2021-03-31 17:35] tinywrkb commented on #18
I'm running another CI build instance with the tests CI against the v2.1.x branch.

It's now easier to enable the tests, [this is the only change needed](https://github.com/flathub/org.qutebrowser.qutebrowser/pull/23/commits/affa59b4d9f28cededfa806d525354d25ed6c861).
I switched to a python3-tests-dependencies.json that was generated from tests-requirements.txt. If nothing is missing from it and it

[2021-03-31 18:13] tinywrkb commented on #18
x86_64

[2021-03-31 18:21] tinywrkb commented on #18
aarch64

[2021-03-31 20:56] The-Compiler commented on #18
Great, looks as expected now! I won't be able to fix the aarch64 test at the moment, so you might need to skip those (I can suggest a patch for that tomorrow).

[2021-04-01 11:01] The-Compiler commented on #18
FYI, v2.1.1 is released now!

[2021-04-10 15:28] Aledosim opened #34 "Include tldextract for userscripts"
I'm trying to run qute-bitwarden, a userscript from qutebrowser, but it fails to find tldextract python module. Is there some way to include this module in this flatpak?

[2021-04-10 15:49] tinywrkb commented on #34
Oh sorry, I haven't looked at all at Python userscripts. I'll go through them later today and add the missing modules.

[2021-04-11 00:00] tinywrkb commented on #34
@Aledosim #35 should fix this issue. The buildbot should generate a test build soon for you to try.
I'm not sure if clipboard backends of pyperclip are needed, if so then I try adding them tomorrow, it's a bit too late for today.

[2021-04-13 02:10] tinywrkb commented on #34
Let's keep this open as it's not solved.

I added the requested module but I don't see how this can work as we're also missing the bitwarden-cli, keyutils, and it seems like also rofi is used by default.
I'm keeping open until we have a proper solution that doesn't require allowing the sandbox run commands on the host. I'm really not fond of the idea of using flatpak-spawn here.
Do we want to also

[2021-06-06 09:33] dzwdz opened #45 ":help doesn't work"
`11:31:26 ERROR: SchemeOSError while handling qute://* URL: "There is no item named 'qutebrowser/html/doc/index.html' in the archive"`

This is a fresh install of qutebrowser on Manjaro

[2021-06-06 11:38] tinywrkb commented on #45
Thanks for reporting this, a fix is on its way.

[2021-06-06 12:49] #45 closed

[2021-06-07 17:53] tidux opened #47 "Regression: MP3 and H.264 support missing even with ffmpeg-full runtime"
Demo site for video: https://lab.html5test.com/codecs

Demo site for audio: http://r-a-d.io/

System details: Ubuntu 18.04 amd64, Flatpak 1.0.9, latest Qutebrowser+ffmpeg packages installed from Flathub.

[2021-06-07 18:39] tinywrkb commented on #47
Working for me. I can even play the mp3 stream directly by opening this link in a new tab: `https://stream.r-a-d.io/main.mp3`.

Doesn't even work in Edge or Chrome. The video examples in the following sites are playing correctly for me: https://tekeye.uk/html/html5-video-test-page and http://demo.nimius.net/video_test/.

Do you have the correct version of the FFMPEG extension installed?
[code]

[2021-06-07 20:16] tidux commented on #47
I do have the correct version of the extension installed.  In troubleshooting further this appears to be a proxy related issue - I get full functionality when `content.proxy = system` but when using `content.proxy = socks://localhost:8080` with an `ssh -nND 8080 user@remote.host` tunnel, I get the above errors.

[code]

[2021-06-07 21:08] tinywrkb commented on #47
Please try to [downgrade the app](https://github.com/flatpak/flatpak/wiki/Tips-&-Tricks#downgrading) and confirm that this is a regression and not something that is broken on your hand.
Post the first commit that works for you.

[2021-06-08 17:44] tidux commented on #47
It looks like it was a network firewall issue (unfortunately on an edge device I do not control) that was causing the problem.  Same socks5 proxy setup on a different local wifi network was able to connect.

[2021-06-08 17:44] #47 closed

[2021-06-08 18:37] tinywrkb commented on #47
Alright, thanks for reporting back.

[2021-06-21 12:58] tinywrkb opened #48 "Task: PipeWire WebRTC screencasting support"
Opening here a bug report because someone else might will so let's just share the state of this feature.

* We are using [QtWebEngine base app](https://github.com/flathub/io.qt.qtwebengine.BaseApp/tree/branch/5.15) to avoid building this huge Chromium based lib and because the KDE runtime does not provide it.
* The base app doesn't seem to have PipeWire WebRTC enabled.
* Currently, the base app is

[2021-06-23 17:54] tinywrkb commented on #48
The latest published update which bundles our own QtWebEngine built lib has now PipeWire WebRTC enabled.
It just works, there's nothing to enable, no qt-flag to set, just run the app as usual, when asked to give permission to capture the screen, just hit yes.

I will keep this open until the QtWebEngine base app will be updated and also have this enabled.

[2021-06-24 03:43] Evidlo opened #51 "SSL Errors"
I get lots of "Server's certificate is not trusted." SSL errors on all pages.  I've checked that my SSL certs are up to date, and run `update-ca-certificates` to be sure.

I also considered that it might be a flatpak filesystem permissions issue, which I run into quite often, but I'm able to open `file:///etc/ssl/certs` just fine.

This is on Debian testing.

<details><summary>version info</summar

[2021-06-24 12:24] tinywrkb commented on #51
I can't say I understand much about these SSL issues.

What do you mean by all pages? it that every site you visit? like the python.org?
If so then I can't replicate.
You'll have to give a more reproducible example.

There was a [bug a while back due to an update of the host installed p11-kit](https://github.com/flatpak/flatpak/issues/2921) so maybe this can a similar regression and distro specifi

[2021-06-24 16:03] The-Compiler commented on #51
That's by design. Other browsers silently block requests to subresources, qutebrowser instead tells the user that something is wrong. Since v2.2.0, you can set `content.tls.certificate_errors` to `ask-block-thirdparty` to automatically block those (like the dialog explains :wink:).

[2021-06-29 18:33] #48 closed

[2021-07-20 16:04] dmcardle commented on #19
FYI, the upstream bug should be fixed now. See https://crbug.com/1224428.

[2021-07-20 16:56] tinywrkb commented on #19
@dmcardle thanks for the update.

I'm guessing that it might take a while for the fix to reach this app. The latest version of QtWebEngine 5.xx.x is 5.15.5, and it's using Chromium 87.0.4280.144.
Maybe we would even need to wait for qutebrowser to switch to PyQt 6.

[2021-09-30 15:31] alandiwix opened #97 "File picking dialog no longer works"
Nothing happens when I push any "choose file" button.
Issue appeared approximately a month ago (with several other issues) - I could pick files just fine before that.

[2021-09-30 17:18] tinywrkb commented on #97
I can't reproduce. It works for me in a reasonably updated Arch Linux system with the GTK portal, and in Kinoite 35 with the KDE portal.
Tested [ShareDrop](https://www.sharedrop.io/), and [this test page](https://viljamis.com/filetest/).

[2021-10-02 07:22] alandiwix commented on #97
@tinywrkb thanks for the answer. I don't have a portal, but why it was working perfectly fine without one before?

[2021-10-02 15:22] tinywrkb commented on #97
Are you sure you're using the Flatpak app? Flatpak requires a XDG desktop portals implementation. I find it hard to believe that your allows you to install Flatpak without pulling in a XDG portals impl.

[2021-10-02 19:21] alandiwix commented on #97
@tinywrkb
No, I have neither xdg-desktop-portal package nor any specific implementation like xdg-desktop-portal-gtk or xdg-desktop-portal-kde.
Never had.

[2021-10-02 19:40] tinywrkb commented on #97
Never had. Flatpak never required those, it always used built-in file picker (GTK apps still do).

If there's no hard dependency of the distro Flatpak package on and XDG portals impl, then the Flatpak package maintainer of your distro is at fault.
Flatpak requires a XDG desktop portals implementation, and other things can break, not only the file picker.
This should be reported as a packaging issu

[2021-10-02 19:41] #97 closed

[2021-10-02 20:09] alandiwix commented on #97
@tinywrkb Would you kindly provide a documentation entry that enforces using `xdg-desktop-portal` in this case (so I could provide a proof to the distribution package mainainer)?

[2021-10-02 21:08] tinywrkb commented on #97
@alandiwix [This](https://github.com/flatpak/flatpak/wiki/Distribution#other-things-to-package) is the best I can find.
I will opened a bug report requesting to make it clear that portal implementation are mandatory dependency, as it's unacceptable for a Flathub app maintainer to deal with bad distro packaging decisions.
And this is a bad packaging decision, because this is a major feature of Flat

[2021-10-02 23:09] alandiwix commented on #97
@tinywrkb This is clear that portals are used by *some applications*, *not flatpak itself*, so I would avoid adding it as hard dependency. Thanks for the help.

[2021-12-15 17:26] firecat53 opened #124 "Running the flatpak fails when ~/.var/app/org.qutebrowser.qutebrowser/config/qutebrowser is a symlink"
I use Gnu stow to track dotfiles. The repository version of qutebrowser handles the symlink fine, but the flatpak fails when the config directory is a symlink.

    $ flatpak run --branch=stable --arch=x86_64 --command=qutebrowser org.qutebrowser.qutebrowser
    Traceback (most recent call last):
      File "/app/bin/qutebrowser", line 33, in <module>
        sys.exit(load_entry_point('qutebrowser

[2021-12-15 18:07] tinywrkb commented on #124
Check that the sandbox can access the symlink target.

[code]

If the symlink target is not accessible, then add filesystem permission override with `flatpak override` or Flatseal. See `flatpak-override.1` man page.

Closing as this is not a bug. If you have more general queries about how to use Flatpak and not specific about the packaging of qutebrowser, then you can ask in the [forums](https://d

[2021-12-15 18:07] #124 closed

[2021-12-15 18:26] firecat53 commented on #124
Sorry for the noise and thanks for the education!

[2021-12-19 21:45] misitiri opened #126 "alsa support?"
I can't hear any playback audio from qutebrowser, but running speaker-test and playing a video via ffplay works as expected. I only have alsa on my system, and when I checked manifest.json, I couldn't find alsa listed. Does this build of qutebrowser not have alsa support and if so why not?

[2021-12-19 22:25] tinywrkb commented on #126
Try the test build from #127 when the buildbot finishes building it.
I don't think it will be needed, but you can also try running it with full `/dev` access like this:
[code]

I'm not sure if this going to solve it, but nothing else comes to mind regarding the app's packaging.

[2021-12-20 14:46] tinywrkb commented on #126
Did you install the [test build](https://github.com/flathub/org.qutebrowser.qutebrowser/pull/127#issuecomment-997476230)?

I'm guessing that this is not going to change anything, as Qt5WebEngine is probably the module that is handling the audio backend.

I've no idea if ALSA output supposed to work with qutebrowser.
Can you confirm that ALSA output is working using another Flatpak app?
From the in

[2021-12-20 15:10] misitiri commented on #126
yes

ALSA output works fine with Waveform

[2021-12-20 16:20] tinywrkb commented on #126
Looking at the [qt5-qtwebengine build log](https://flathub.org/builds/#/builders/39/builds/8584), we have alsa enabled as `use_alsa=true` is being set automatically, so the problem is probably not with the [base app](https://github.com/flathub/io.qt.qtwebengine.BaseApp).

[2021-12-20 17:42] misitiri commented on #126
I installed and ran the firefox flatpak and had the same issue, so this might be an issue with my personal setup.

[2021-12-23 12:28] misitiri commented on #126
When trying to play a youtube video from the version of qutebrowser from the main branch with '--device=all' and the '-T' flag I get the following errors:

[2021-12-26 15:47] tinywrkb commented on #126
I'm looking at the strace output, and it seems like you can drop a `asoundrc` into `~/.var/app/org.qutebrowser.qutebrowser/config/alsa/`, so maybe try adding the config file with a default PCM device.

[2021-12-26 15:59] tinywrkb commented on #126
I can confirm that it's working with PipeWire's ALSA device after blocking PulseAudio access with `--nosocket=pulseaudio`. I just copied PipeWire's ALSA default config as `~/.var/app/org.qutebrowser.qutebrowser/config/alsa/asoundrc`, and confirmed with `ncpamixer` that the audio is played using the PipeWire's ALSA device.

[code]

[2021-12-26 16:07] tinywrkb commented on #126
The alternative to `~/.var/app/org.qutebrowser.qutebrowser/config/alsa/asoundrc` is `~/.asoundrc` and adding `--filesystem=home` override.
There are also `/etc/` and `/usr/etc/` but these come from the runtime.
Maybe `ALSA_CONFIG_PATH` environment variable can be used to pick the config from a different location.

[2021-12-26 16:22] tinywrkb commented on #126
Closing as a proper `asoundrc` should solve the issue.
@misitiri if this is still a problem, then re-open.

[2021-12-26 16:22] #126 closed

[2022-01-02 20:08] tinywrkb opened #132 "Validate and support packaged userscripts"
I've been ignoring this for a while, as I haven't been using qutebrowser at all, and I've seen very little activity here on issue tracker. There was no much feedback here from users or interest in the userscripts.

Anyway, back to the subject. Let's start to test and validate the packaged userscripts.
From the point of view of Flatpak packaging and maintenance, there are a few groups of userscript

[2022-01-03 15:04] tinywrkb commented on #51
@Evidlo is this still an issue? Did you confirm that this behavior diverges from non-Flatpak qutebrowser?

[2022-01-03 15:05] tinywrkb commented on #34
Closing in favor of #132.

[2022-01-03 15:05] #34 closed

[2022-01-03 15:17] tinywrkb commented on #18
I'm not convinced that we should enable tests for flathubbot builds.
OBS Github repository has Flatpak integration for its CI, so maybe follow it as an example.

Closing, as the tests are running correctly for a while now, and there's nothing to do here.

[2022-01-03 15:17] #18 closed

[2022-01-04 18:55] tinywrkb opened #134 "QtWebEngine 5.15.8 rebuild"
Waiting on flathub/io.qt.qtwebengine.BaseApp#34 to be merged, and the base app to be updated in the stable repo.

[2022-01-05 00:51] aleixpol commented on #134
Merged.

[2022-01-05 11:31] tinywrkb commented on #134
Thanks for the quick merge!

[2022-01-05 12:24] #134 closed

[2022-05-09 14:38] tinywrkb opened #192 "Disable auto-download for Userscripts extension"
`no-autodownload` property was set as `false`, as there's no mechanism in place to let the user know that dependencies of userscripts are available through a Flatpak extension.
The Flatpak application is already quite large, we shouldn't force this bloated extension on users.

One option would be to avoid bundling the in-tree userscripts with the application, when users won't find them they will k

[2022-05-09 15:17] The-Compiler opened #193 "No Chromium namespace sandboxing?"
When opening `chrome://sandbox` natively, I see:

![image](https://user-images.githubusercontent.com/625793/167441525-ce8e3ec8-3189-4c33-ad2f-3be3bf85b5e2.png)

while via Flatpak, I get:

![image](https://user-images.githubusercontent.com/625793/167441568-b2802ba4-7fd6-474e-8157-862a622fc3b2.png)

Do you have any idea why that's the case? Are namespaces just inherently unavailable with Flatpak? Or

[2022-05-09 15:41] tinywrkb commented on #193
No, we don't have these privileges in the sandbox. I believe that the responsibility of [bubblewrap](https://github.com/containers/bubblewrap) to drop them.

The Chromium Flatpak has a few [patches that add support for using Flatpak Spawn API to create sandboxed instances](https://github.com/flathub/org.chromium.Chromium/blob/master/patches/chromium/flatpak-Add-initial-sandbox-support.patch), so m

[2022-05-10 19:07] tinywrkb commented on #193
https://github.com/flathub/io.qt.qtwebengine.BaseApp/pull/66

![swappy-20220510-215951](https://user-images.githubusercontent.com/44030034/167702657-aad13ef3-b680-48b2-99fd-bb8a4a595b51.png)

[code]

I'm not sure what else to check.

[2022-05-30 23:21] tinywrkb commented on #193
Fixed in the beta channel. Stable will be fixed with the 3.0.0 release and the switch to PyQt6.

[2022-05-30 23:21] #193 closed

[2022-06-05 06:36] Evidlo commented on #51
Sorry for the late response.  I've just reinstalled the flatpak and it seems to be working normally.

[2022-06-05 06:36] #51 closed

[2022-06-06 20:07] yellowhat opened #212 "Startup time binary vs flatpak"
Hi,
I have noticed that the `flatpak` version of qutebrowser has a much slower startup time (almost 2 times) compared with Gentoo version:

[code]

Run on a Intel i7-4810MQ, 16 GB, SSD	Samsung PM871.

Are there any optimizations that can be applied?

Thanks

[2022-06-06 20:13] tinywrkb commented on #212
Flatpak does more than just run the qutebrowser executable. Try like this

[code]

[2022-06-06 20:29] yellowhat commented on #212
Similar:

[code]

[2022-06-07 06:48] yellowhat commented on #212
On another machine (Fedora 36, Intel i7-11850H, 32GB, Micron 2300 NVMe 1TB):

[code]

[2022-06-07 15:36] yellowhat commented on #212
Amazing:

[code]

Thank you very much

[2022-06-07 15:47] tinywrkb commented on #212
Great! Thanks for reporting and testing.

[2022-06-07 15:47] #212 closed

[2022-06-07 16:02] yellowhat commented on #212
Thanks to you for being so awesome :smile:

[2022-06-25 03:26] jconnolly837 opened #221 "Cannot execute Gvim or MPV from within Qutebrowser"
OpenSUSE 15.4, all mentioned apps are from flathub and installed as system apps

Steps taken to try to allow these apps to be launched from Qutebrowser:
`sudo flatpak override --talk-name=org.freedesktop.Flatpak org.qutebrowser.qutebrowser`
`mkdir -p ~/.var/app/org.qutebrowser.qutebrowser/data/bin`
`ln -s /app/lib/flatpak-spawn-wrapper/wrapper ~/.var/app/org.qutebrowser.qutebrowser/data/bin/gvim`

[2022-06-26 02:09] tinywrkb commented on #221
I'll have to look at this a bit later, I hope that's alright.

[2022-06-26 02:16] jconnolly837 commented on #221
Yes that's alright.

I was going to comment here earlier tonight that MPV randomly started working for no apparent reason, and that Gvim remains broken. I've been working on Gvim and it appears that Qutebrowser is not writting the file it says it is to /tmp, even when I give both apps rw access.

I'm working on other unrelated computery problems which is why I didn't get to this until you commente

[2022-06-26 13:10] tinywrkb commented on #221
The mpv error is likely due to missing environment variables in the systemd user session environment.
You should have at least `DISPLAY` or `WAYLAND_DISPLAY` set, and should be set before `flatpak-session-helper.service` is started, or restart the service after updating the environment.

- You can check the system user environment with `$ systemctl --user show-environment`.
- You can set environme

[2022-06-26 18:43] jconnolly837 commented on #221
One more thing. I had to create a script in $PATH to run the flatpak Gvim, otherwise Qutebrowser simply can't find Gvim. That's why it said `flatpak-spawn-wrapper: Couldn't found a host executable 'gvim' or suitable Flatpak app`. Once that was done, I'm running into the issue I have now, which is Gvim is not taking the input because Qutebrowser is not putting a file with the URL in /tmp. There may

[2022-06-26 18:50] tinywrkb commented on #221
Did you add filesystem=/tmp override permission for both apps?

[2022-06-26 19:00] jconnolly837 commented on #221
Yes, it's been set for the past day or two.

Another update. Qutebrowser has decided to start writting to /tmp and Gvim half works. It seems Gvim is opening the file twice. If I press Enter to dismiss the error, make my edit, ZZ, then ZZ again to take care of the 2nd instance, the URL change gets passed to Qutebrowser and it loads that URL as intended. I'll keep playing with it to figure out why i

[2022-06-26 19:18] jconnolly837 commented on #221
It seems the double opening issue gets fixed if I set `editor.command` to `'["gvim", "-f", "{file}"]'` in Qutebrowser. By default, it's `'["gvim", "-f", "{file}", "-c", "normal {line}G{column0}l"]'`.

So at the moment, it appears that I now have a fully functioning Qutebrowser setup.

### Summary
**MPV:** Started working by itself for seemingly no reason.

**Gvim:** Both Qutebrowser and Gvim requi

[2022-06-26 19:26] tinywrkb commented on #221
I just sent a PR that adds gvim symlink and the Flatpak application ID to the wrapper, so no need to create a symlink for the sandbox or a wrapper for the Vim Flatpak on the host.
It should generate a test build in a couple of minutes.
See #222

[2022-06-26 19:29] tinywrkb commented on #221
And it looks like the Vim Flatpak is already bind-mounting `/tmp` from the host, so the filesystem override only needed for qutebrowser.
Works fine here.

[2022-06-26 19:36] tinywrkb commented on #221
Test build is ready if you want to try.

[2022-06-26 20:19] tinywrkb commented on #221
Merged, and published early. The update should be in Flathub in a couple of minutes.

[2022-06-26 20:25] tinywrkb commented on #221
Please let me know if I missed other common and important executables.

[2022-06-26 23:28] jconnolly837 commented on #221
Fantastic work! And quick too.

On a fresh OpenSUSE 15.4 virtual machine, the only tweaking that needed to be done after installing all three apps was `--talk-name=org.fredesktop.Flatpak` and `--filesystem=/tmp:rw` to `org.qutebrowser.qutebrowser`. MPV and Gvim launched flawlessly from Qutebrowser.

I do understand that those permissions shouldn't be shipped by default because they create a massiv

[2022-06-26 23:28] #221 closed

[2022-06-27 16:54] glatzor opened #223 "Fails to start on Debian Bullseye"
I get the following error trying to start the flatpak on Debian Bullseye:

[code]

[2022-06-27 18:25] tinywrkb commented on #223
I'm guessing here that you're forcing `QT_QPA_PLATFORM=xcb` while running in a Wayland session.
Unset `QT_QPA_PLATFORM` using `flatpak-override` or Flatseal, or replace the `fallback-x11` socket with `x11`.
And setting `QT_QPA_PLATFORM` globally is wrong. If you think that you need it for host applications, then unset it globally for Flatpak.

[2022-06-27 18:26] #223 closed

[2022-06-27 21:35] #192 closed

[2022-11-18 22:19] Narice opened #263 "Flatpak regression for Emojis and PDF viewer"
Hi! I had some problems on NixOS using the Flatpak version of qutebrowser.
Thought I'd mention them on this thread. Tell me if it is better if seperate issues should be opened.

The pdf viewer is not working by default (using --temp-basedir) and color emojis do not work and are replaced by black and white emojis.
Both of these are not problems on my distribution's package.

Pdf viewer:
![image](ht

[2022-11-18 22:34] Narice opened #264 "Flatpak regression for PDF viewer"
# Explanation of the issue
Hi! The PDF viewer is not working by default (using --temp-basedir) as shown below.
This is not a problem on my distribution's package.

![image](https://user-images.githubusercontent.com/31109099/202814075-ac98b2c7-dea8-4a74-96a6-4788365a8d10.png)
![image](https://user-images.githubusercontent.com/31109099/202814086-c0aa4f81-8bf2-4304-99fc-4bd5aa489cc2.png)

# reproduct